@charset "UTF-8";
#orderList ul li {
	border: 5px solid #eee;
	padding: 10px 20px;
	margin-bottom: 20px;
	list-style: none;
}

#orderList .orderList span {
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	width: 90px;
	margin-right: 10px;
}

#orderList .orderList {
	margin-left: 300px; 
	margin-right: 300px; 
}

.moneyList {
	margin: 20px 300px 50px 300px;
}
.money__list{
	border: 2px solid #eee;
	padding: 10px 20px;
	margin-bottom: 20px;
	list-style: none;
}
.money__list p {
	margin-top: 5px;
	margin-bottom: 5px;
}
.money__title{
	color: #000;
	background: url(//img.echosting.cafe24.com/skin/base/common/ico_arrow.png) no-repeat 0 8px;
	padding-left: 25px;
	width: 20%;
	font-size: 0.8rem;
	font-weight: bold;
	display: inline-block;
	margin-right: 10px;
}
.money__content{
	color: #000;
	text-align: right;
	width: 70%;
    font-size: 0.8rem;
	display: inline-block;
	margin-right: 10px;
}