body {
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

/* alert badge */
.circle {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #ff0000;
	position: absolute;
	top: -5px;
	left: 110%;
}

/* 녹색 텍스트 */
.green {
	color: #24855b;
}

.wrap {
	background-color: #F8F8F8;
}
/* 녹색배경 */
.greenContainer {
	height: 132px;
	background-color: pink;
	display: flex;
	align-items: flex-end;
	padding: 16px;
}

.greenContainer .name {
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

.greenContainer .modify {
	margin-left: auto;
}

.mypages_form {
	width: 70%;
	margin-left: 300px
}

.grid {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(2, 300px);
	grid-gap: 70px;
	padding: 30px;
	margin-left: 255px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.grid div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.grid div:hover {
	transition: box-shadow 0.5s ease-in-out;
	box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.5);
}

.grid i {
	font-size: 100px;
	padding: 40px;
}

.grid h3 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.shopping i {
	color: #87c577;
}

.exclamation i {
	color: #5d92b7;
}

.credit-card i {
	color: #a83cbb;
}

.question-circle i {
	color: #2fb4ca;
}

.info-circle i {
	color: #d03b87;
}

.user-edit i {
	color: #27776c3c;
}