@charset "UTF-8";


.table{
	margin-top: 50px;
	width:57%;
}

.table th{
	padding:15px;
	background-color:rgba(0,0,0,0.1);
	border-radius:3px;

}


.product{
	border-bottom:1px solid red;
}

.product td{
    padding:25px;
    	border-bottom: 3px solid rgba(0,0,0,0.2);
    	padding-bottom:40px;
}

.cash{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border: 3px solid rgba(0,0,0,0.2);
	width:100%;
	margin-top:110px;
	margin-bottom:100px;
}

.cash_border{
	padding:35px 300px 35px 300px;
	font-size:20px;
	font-weight:500;
}

button{
	border:none;
	outline:none;
    font-size:12px;
    font-weight:600;
    cursor:pointer;
}
button:hover{
		opacity: 0.7;
}
.order_button{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-bottom:70px;
}
.order_btn{
	font-size:15px;
	width:10%;
	height:50px;
	border-radius:10px;
	margin-right:10px;
}
.order_btn:hover{
	opacity:0.7;
}